

#MenuDropdow{
  width: 80%;
  height: 50px;
  margin-left: 210px;
  margin-bottom: 200px
}
    
#MenuLateral{
    position: absolute;
    margin-top: -250px;
    
}

#role{
  display: inline-block;
   width:220px;
  
}
#Books{
    
    width: 88px;
}

#tbody {
    margin-left: 260px;
    margin-top: -180px;
}